
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOHR</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form">
                
                <h3 class=" badge-success display-3"></h3>
                
                <div class="alert alert-success" role="alert">
                    <h3>Lösenordet ändrat/Password changed!</h3>
                    Ditt lösenord är nu ändrat/Your password has been changed successfully!

                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>