
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOHR</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form">
                
                <h3 class=" badge-success display-3"></h3>
                
                <div class="alert alert-danger" role="alert">
                    <h3>Verifieringen misslyckades/Verification failed</h3>
                    Verifieringen av ditt konto misslyckades. Vänta ett ögonblick och försök använda e-postlänken en gång till. Om problemet kvarstår, tveka inte att kontakta supporten/ The verification of your account failed. Wait a moment, then try using the email link again. If the problem continues, please contact support.

                  </div>
                  
                
            </div>
        </div>
    </div>
    
</body>
</html>